/* typography & colors */
$primary = #c7cbcd
$primary-dark = #606266
$primary-size = 13px
$accent = #409eff
$theme-color = #11314a
$theme-color-light = #1c4f7a

$popover-bg = #303133
$popover-fg = #c7cbcd

/* responsive breakpoints */
$media-sm = 576px  // landscape phones
$media-md = 768px  // tablets
$media-lg = 992px  // desktops
$media-xl = 1200px // large desktops

